@tailwind base;
@tailwind components;
@tailwind utilities;

.clip-path-slant {
  clip-path: polygon(10px 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%, 0 10px);
}

.clip-path-tech {
  clip-path: polygon(20px 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%, 0 20px);
}

body {
    background-color: #09090b;
    color: white;
}